<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
</head>
<body>
<form action="#" method="POST" th:action="@{/chat}" th:object="${chatForm}">
    <label for="username">Username: </label>
    <input id="username" name="username" th:field="*{username}" type="text">
    <label for="messageText">Message Text: </label>
    <input id="messageText" name="messageText" th:field="*{messageText}" type="text">
    <label for="messageType">Message Type: </label>
    <select id="messageType" th:field="*{messageType}">
        <option
            th:each="type: ${allMessageTypes}"
            th:text="${type}"
            th:value="${type}"
        >
            Say
        </option>
    </select>
    <input type="submit">
</form>
<div th:each="chatMessage: ${chatMessages}">
    <span th:text="${chatMessage.username}">Username</span>: <span th:text="${chatMessage.message}">Hi there</span>
</div>
</body>
</html>